.form_wrapper {
    padding: 3% 32%;
    background-color: white;
}

.form_label {
    font-weight: 500;
}

.button_wrapper {
  padding-top: 5%;
}

.custom_nav_link {
  display: inline-block;
  width: auto;
}

.button{
  width: 90px;
  border: 0;
  padding: 5px;
}

.button.back {
  color: black;
  background-color: silver;
}

.button.add {
  color: white;
  background-color: #005AA2;
  margin-left: 5px;
}

 
@media(max-width: 1000px) {
    .form_wrapper {
        padding: 5%;
    }
}