.view_wrapper {
    padding: 2% 32%;
    background-color: white;
    font-size: 22px;
    font-weight: 500;
    color: #005AA2;
}

.view_wrapper table table-borderless{
    background-color: red;
    width: 20px;
}

.view_wrapper td {
    padding: 2% 0;
    font-size: 15px;
    font-weight: 300;
}

.typeform_wrapper {
    display: flex;
    padding:0% 0;
    background-color: white;
}

.typeform_wrapper Form.Check{
    padding-left: 4.5em;
}

.myform{
    margin-bottom: -5rem;
}

.type_radio{
    margin-left: 16%;
    margin-right: 20px;
}

.participantform_wrapper{
    background-color: red;
}