.table_wrapper {
    width: 60%;
}
  
.table_body td {
    font-size: 13px;
    font-weight: 500;
    color: #6d6e6d;
    padding:5px;
    margin-left: 45%;
}

.table_heading {
    padding: 3% 0;
    background-color: #005AA2;
    color: white;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    font-weight: 400;
}
  
 
.table_button {
    font-weight: 500;
    color: gray;
    text-decoration: none;
    font-size: 12px;
    padding: 0; 

}

.table_button:hover {
    color: gray;
}

.button_td Button{
    margin-left: -220%;
}
