.table_wrapper {
    width: 60%;
    padding-bottom: 5%;
}
  
.table_body td {
    font-size: 13px;
    font-weight: 500;
    color: #6d6e6d;
    padding:5px;
    padding-left: 5%;
    margin-left: 45%;
}

.table_heading {
    padding: 3% 0;
    background-color: #005AA2;
    color: white;
    height: 5rem;
    min-height: 5rem;
    max-height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    font-weight: 400;
}
  
 
.table_button {
    font-weight: 500;
    color: gray;
    text-decoration: none;
    font-size: 12px;
    padding: 0; 

}

.table_button:hover {
    color: gray;
}

.button_td Button{
    margin-left: -220%;
    position: relative;
    translate: -350%;
}

.event_add_wrapper{ 
    height: 15%;
    position: relative;
    transform: translateY(-25%);
    padding: 5% 0% 7% 5%;
    background-color: white;
}
